@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.sidebar-dark {
    --cui-body-color: rgba(255, 255, 255, 0.87);
    --cui-body-bg: #00304D !important;
    --cui-emphasis-color: #fff;
    --cui-secondary-color: rgba(255, 255, 255, 0.6);
    --cui-secondary-bg: #00304D;
    --cui-tertiary-color: rgba(255, 255, 255, 0.38);
    --cui-tertiary-bg: #012338 !important;
    --cui-border-color: #012338 !important;
}

.sidebar-brand {
    text-decoration: none;
}

.simplebar-content {
    border-top: 1px solid #012338 !important;
}

.user-login p {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif !important;
}

.user-login p svg {
    margin-right: 10px;
}

.user-content {
    display: grid;
    grid-template-columns: 1fr;
}

.user-login .info-user {
    font-size: 13px;
    font-weight: 500;
    color: #ccc ;
    margin: 5px;
    font-family: "Open Sans", sans-serif !important;
}

.btn-green{
    background: #007832 !important;
    border-color: #007832 !important;
    color: #f3f3f3 !important;
}

[data-coreui-theme=dark] .dark\:bg-primary, [data-coreui-theme=dark] .dark\:bg-primary:not([class*="dark:"]), .bg-primary{
    background: #39A900 !important;
}

.breadcrumb a {
    color: #00304D !important;
}

/* Tables estyles*/

.filterable {
    margin-top: 15px;
}

.filterable .panel-heading .pull-right {
    margin-top: -20px;
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.content-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Table-button {
    border-radius: 8px;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 22px 8px;
    border-color: transparent;
}

.Update-button {
    background: #00783249;
}

.Update-button svg {
    color: #007832;
}

.Delete-button {
    background: #78000049;
}

.Delete-button svg {
    color: #780000;
}

.Show-button {
    background: #003e7859;
}

.Show-button svg {
    color: #003e78;
}

.Asign-button {
    background: #fdc2004b;
}

.Asign-button svg {
    color: #fdc300;
}

.Register-button {
    background: #39A900;
    border-radius: 5px;
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    border-color: transparent;
    padding: 7px;
    display: flex;
    align-items: center;
}

.Register-button svg {
    font-size: 16px;
    color: white;
    margin-right: 5px;
}

.table .thead tr th {
    text-align: center;
    background: #39A900;
    color: white;
}

.table .tbody tr td {
    text-align: center;
}

.table .tbody tr td img {
    width: 50px !important;
    height: 50px !important;
}

.required::after {
    content: '*';
    margin-left: 2px;
    color: #39A900;
}

.buttons-form {
    border-radius: 5px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #fff !important;
    border-color: transparent !important;
    padding: 7px !important;
    display: flex !important;
    align-items: center !important;
}

.Button-save {
    background: #007832 !important;
}

.Button-next {
    background: #dd0505 !important;
}

.Button-blue {
    background: #055bdd !important;
}

.card-body {
    width: 400px;
}

.card {
    width: 400px !important;
}

.pattern {
    background-image: url(assets/images/fondoRegister.png);
}

.text-form{
    color: #9b9b9bdc;
}